@using CustomerPanel.Data.Security

@{
    ResourcesGroups = new byte[] { AppAreas.Common, AppAreas.Login, AppAreas.Items };
}

<!DOCTYPE html>


<html>
<head>
    <title>@L("ProductName")</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#004d8a">

    <link rel="icon" type="image/x-icon" href="~/ClientApp/assets/favicon.ico">
    <base href="@Url.Content("~/")" />

    @Styles.RenderFormat("<link href=\"{0}\" rel=\"preload\" as=\"style\"/> <link href=\"{0}\" rel=\"stylesheet\" async/>", "~/angularStyles")
    @RenderSection("CssInHead", required: false)
    @RenderSection("JavaScriptInHead", required: false)

    <link rel="manifest" type="application/manifest+json" href="/manifest.json">

    <!-- for iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-startup-image" media="(max-width: 512px)" href="~/ClientApp/assets/images/icons/icon-192x192.png">
    <link rel="apple-touch-startup-image" media="(min-width: 513px)" href="~/ClientApp/assets/images/icons/icon-512x512.png">

    <script>
        window.dMode = '@HttpContext.Current.IsDebuggingEnabled' === 'True';
    </script>
</head>
<body>

    <noscript>
        <p class="box-message danger">@Html.Raw(L("JavascriptRequired"))</p>
    </noscript>

    <div id="ie-detected" class="box-message warning" style="display:none">

        @L("IENoSupport"):
        <a href="https://www.google.pl/chrome/index.html" rel="nofollow">Google Chrome</a>,
        <a href="https://www.mozilla.org/pl/firefox/new/" rel="nofollow">FireFox</a>,
        <a href="https://www.microsoft.com/pl-pl/windows/microsoft-edge" rel="nofollow">Microsoft Edge</a>.


    </div>

    <app-root class="inner-clear">

        <style>
            @@keyframes blink {
                0% {
                    opacity: 1;
                }

                10% {
                    opacity: 1;
                }

                55% {
                    opacity: 0;
                }

                100% {
                    opacity: 1;
                }
            }
        </style>
        <div style="display:grid; height:100vh;">
            <img src="~/ClientApp/assets/images/logo.png" alt="Comarch B2B" style="margin:auto; animation: blink 3s infinite;" />
        </div>

    </app-root>

    @RenderBody()

    <script>

        (function () {

            var ieWarnDom = document.getElementById('ie-detected');

            if (!document.querySelector || navigator.userAgent.indexOf('MSIE') !== -1 || navigator.appVersion.indexOf('Trident/') > 0) {
                ieWarnDom.style.display = 'block';
            } else {
                ieWarnDom.remove();
            }

        })();



    </script>


    @Scripts.Render("~/angularScripts")
    @RenderSection("JavaScriptInBody", required: false)


</body>
</html>